.box{
    border-radius: 20px;
    border: 2px solid black;
    width: 400px;
    animation-name: scale-up;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    transform: scale(0);
}
@keyframes scale-up{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.mockup{
    width:90%;
    height: 235.2px;
}
.content{
    width: 90%;
    font-size: 0.8rem;
}
@media(max-width:576px){
    .box{
        width:350px;
    }
    .mockup{
        height: 205.8px;
    }
}
@media(max-width:415px){
    .box{
        width:300px;
    }
    .mockup{
        height: 170.4px;
    }
}
