.skills{
    background: linear-gradient(to right, #4b6cb7, #182848);
    position: relative;
    padding-bottom: 1rem;
}
.custom-shape-divider-top-1674190480 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674190480 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1674190480 .shape-fill {
    fill: #d5def1;
}
.skills-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.skills-section h1{
    color: white;
    position: relative;
    top:1rem;
}
.common-container{
    width:60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto ;
    justify-content: center;
}
.skill-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-info p{
    color: white;
    font-family: 'Unbounded', cursive;
}
.common-shape{
    width:100px;
    height: 100px;
    border-radius: 15%;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgb(41, 41, 41);
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-image{
    width:60px;
    height: 60px;
}
@media(max-width:490px){
    .common-container{
        width:80%;
    }
}
@media(max-width:380px){
    .common-container{
        width:90%;
    }
}