.about-section{
    margin-bottom: 35px;
}
.about-col{
    position: relative;
}
.text{
    width:60%;
    margin-left:auto;
    margin-right: auto;
    font-weight: 300;
}

@media(max-width:992px){
    .text{
        width: 85%;
    }
}
@media(max-width:767px){
    .for-experience{
        margin-top: 2rem;
    }
}
