body,html {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-padding-top: 100px;
}

h1{
  font-family: 'Unbounded', cursive;
  font-size: 3rem;
  text-transform: uppercase;
}
::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #4b6cb7;
}

@media(max-width:576px){
  h1{
    font-size: 2rem;
  }
}
