deploy:
  runs-on: ubuntu-latest
  needs: build

  steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: node-app

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'shreyasKalePortfolio'
        slot-name: 'Production'
        package: ./node-app
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E12C261BDFD64673B8B73608BCE22EF7 }}
