name: Build and deploy Node.js app to Azure Web App - shreyasKalePortfolio

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install and build
        run: |
          npm install
          CI=false npm run build

      - name: List build directory
        run: ls -la build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: ./node-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'shreyasKalePortfolio'
          slot-name: 'Production'
          package: ./node-app
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E12C261BDFD64673B8B73608BCE22EF7 }}
